html {
  background: #ff0844;
  background: -webkit-linear-gradient(to left, #ff0844, #ff4563);
  background: linear-gradient(to left, #ff0844, #ff4563);
}
#gameCanvas {
  width: 500px;
  height: 250px;
  border: 1px solid black;
}
